body { 
            margin: 0; 
            background: #000; 
            color: #fff; 
            font-family: sans-serif; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
        }
header { padding: 40px; text-align: center; }
        #gallery { width: 100%; max-width: 900px; display: flex; flex-direction: column; }
        .dossier-page { 
            width: 100%; 
            height: auto; 
            display: block; 
            margin-bottom: 0px;
        }

footer {
    padding: 80px;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}

footer a {
    color: inherit; 
    text-decoration: none; 
    font-weight: bold;
    transition: opacity 0.3s; 
}

footer a:hover {
    opacity: 0.7; 
    text-decoration: underline; 
}