body {
    margin: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    text-align: center;
}

footer {
    padding: 80px;
    text-align: center;
    font-size: 0.8rem;
    color: #666;


}

footer a {

    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s;
}

footer a:hover {
    opacity: 0.7;
    text-decoration: underline;

}